div {
  width: 100px;
  margin-top: 10px;
  padding: 5px;
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div:hover {
  background: #e0e0e0;
  cursor: pointer;
}
